.subtitle {
  display: flex;
  align-items: center;
  span {
    font-weight: 500;
    font-size: 20px;
    line-height: normal;
    color: #FFF;
    margin-left: 15px;
  }
}

h1 {
  color: #FFF;
  font-size: 124px;
  font-weight: 700;
  line-height: 97.5%;
}

h2 {
   font-weight: 700;
   font-size: 48px;
   line-height: 130%;
   color: #FFFFFF
 }

